
<!--<div>
  <h2>
    <p>Hey this is angular 17</p>
  </h2>
</div>
<nav>
  <ul>
    <li><a routerLink="/app-first" routerLinkActive="active">first Component</a></li>
    <li><a routerLink="/app-second" routerLinkActive="active">Second component </a></li>
    <li><a routerLink="/app-child" routerLinkActive="active">child component </a></li>
    <li><a routerLink="/app-parent" routerLinkActive="active">Parent component </a></li>
    <li><a routerLink="/app-app-usernew" routerLinkActive="active">usernew component </a></li>
    <li><a routerLink="/app-studentdetails"  title="💕" routerLinkActive="active">studentdetails  </a></li>
  </ul>
</nav>
<app-usernew></app-usernew>
<app-parent></app-parent>
 <app-studentdetails></app-studentdetails>  -->
 <!-- <app-login></app-login> -->
 <!-- <app-usernew></app-usernew> -->
 <!-- <app-materialtable></app-materialtable> -->

 <!-- <app-parent></app-parent> -->
    <router-outlet></router-outlet>

<!-- @if(currentUrl!="/"){
    <router-outlet></router-outlet>
}
@else{
    <router-outlet></router-outlet>
} -->


  
 

